@media screen and (min-width:960px){
　　.red-border {font-size: 18px;
　　width: 100%;
    color: blue; }
}

@media screen and (min-width:480px){
　　.red-border {font-size: 1px;
　　width: 100%;
    color: blue; }
}