<div>
  <h2 class="py-4">本当に退会しますか？</h2>
  <div>
    <p>退会する場合は、『退会する』をクリックしてください。</p>
  </div>
  <div class="px-3 py-4">
    <%= link_to :back, class: 'btn btn-primary' do %>
      戻る
    <% end %>
    <span>　　　</span>
    <%= link_to "退会する", withdraw_user_path(current_user), method: :patch, class: 'btn btn-danger' %>
  </div>
</div>